$leftpad: 5%;

img, embed, object, video{
    max-width: 100%;
}
body{
    background: url('../img/svg/background.svg') no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{

    max-width: 100%;
}

.header {
    max-height: 100%;
    max-width: 100%;
    font-family: 'Arizonia', cursive,;
    color: white;
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    padding-top: 5%;  
        
         h1{
           font-size: 10.5vw;
           padding-right: 25%;
           margin: .1%;
           order:0;
        }
             h3{
                font-size: 3vw;
                margin: .1%;
                padding-right: 25%;
               }       
}

.title:nth-child(1){
    width: 70%;
    height: 1%;
    align-self: flex-start;
}



#midsect{
    max-width: 90vw;
    min-height: 100vh;
    display:flex;

}
.jumbotron{
    background-color: darkorange;
    margin: auto;
        h2,h3,p{
            color: white;
        
        }
        h2{
            font-family: 'Arizonia', cursive,;
            text-align: center;
            font-size: 3.2vw;
            padding-bottom: 5px;
            font-size: 4vw;
        }
        img{
            box-shadow: 0 0 15px #777;
            border: 2px solid black;
        }
}

#mainImg{
max-width:85%;
padding-left: $leftpad;
margin-left: auto;
margin-right: auto;  
box-shadow: 0 0 10px #777; 
}

#workTitle {
   padding-top: 10px;
   padding-bottom: 30px;
   max-height: 100%;
   max-width: 100%;
   text-align: center;
   font-family: 'Arizonia', cursive,;
   color: white;
   font-size: 7.5vw;


}




.projects{
  max-width: 90vw;
  min-height: 60vh;
  justify-content: space-between;
  text-align: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding-left:45px;
}


#work1.project.fade-in{
  opacity:1;
  transform: translateY(0);
}

#work2.project.fade-in{
  opacity:1;
  transform: translateY(0);
}

#work3.project.fade-in{
  opacity:1;
  transform: translateY(0);
}

#work1{

  width: 20vw;
  height:500px;
  opacity:0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}   

#work2{

  width:20vw;
  height: 500px;
  opacity:0;
  transform: translateY(50px);
  transition: all 1s ease-out;
} 

#work3{


  width:20vw;
  height: 500px;
  padding-right: 10px;
  opacity:0;
  transform: translateY(50px);
  transition: all 1s ease-out;


} 
    
#colorblock1, #colorblock2, #colorblock3{
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.glyphicon{

    font-size: 7vw;
    color: white;
}

.nav{
    display: none;
}
footer{
    text-align: center;
}
