$leftpad: 5%;
img, embed, object, video{
    max-width: 100%;
}
body{
   background: url('../img/svg/background.svg') no-repeat center center fixed ;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
     max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.colorblocks{
  display: flex;
  flex-wrap: wrap;
   max-width: 100%;
   margin: auto;
   
   order:2
    
    
}

.header {
    font-family: 'Arizonia', cursive;
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    text-align: right;
    height: 35%;
    text-shadow: 3px 2px 12px black;
}
.header h1{ font-size: 4.5em;
         padding-bottom: -5%;
         margin: .1%;
         order:0;
        }
.header h3{
        font-size: 1.5em;
        margin: .1%;

               }       


.title:nth-child(1){
    width: 70%;
    align-self: flex-start;
}



.title:nth-child(2){
    width: 40%;
    order: -1;
    height: 1%;
    align-self: flex-start;
     
}

#midsect{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mainImg{
max-width: 88%;
padding-left: 5px;
margin-left: auto;
margin-right: auto;  

}
.jumbotron{
    background-color: darkorange;
    margin: auto;
h2,h3,p{
        color: white;
        
    }
    h2{
        font-family: 'Arizonia', cursive,;
        text-align: center;
        font-size: 7.2vw;
        padding-bottom: 10px;
       
    }
    p{
        font-size: 14px;
    }
    img{
    box-shadow: 0 0 15px #777;
    border: 2px solid black;
}
}

#workTitle {
   padding-top: 10px;
   padding-bottom: 30px;
   max-height: 100%;
   max-width: 100%;
   text-align: center;
   font-family: 'Arizonia', cursive,;
   color: white;
   
   h1{
        font-size: 17.5vw;
   }
}

.projects{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    
}

#work1{
    max-width: 100%;
    width:65vw;
    
    
    h3{
        font-size: 30px;
        
    }
    
    p{
        font-size: 16px
    }
    
    
} 

#work2{
    max-width: 100%;
    width:75vw;
    padding: 5%;

     h3{
        font-size: 30px;
        color: white;
    }

        h4{
            font-size:20px;
        }
    
    p{
        font-size: 16px
    }
    
    
} 

#work3{
    max-width: 100%;
    width:75vw;
    

     h3{
        font-size: 30px;
    }
    
    p{
        font-size: 16px
    }
    
    
} 

#colorblock1, #colorblock2, #colorblock3{
   
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}
.nav{
    display: none;
    
}
.glyphicon{
    font-size: 7vw;
    color: white;
}

