$leftpad: 5%;

img, embed, object, video{
    max-width: 100%;
}
body{
    background: url('../img/svg/background.svg') no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }

.container{
    width: 100%;
    max-width: 100%;

}

.header {
    max-height: 100%;
    max-width: 100%;
    font-family: 'Arizonia', cursive,;
    color: white;
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    text-align: right;
    margin: auto;
    padding-top: 5%;  
        
         h1{ font-size: 7.5vw;
         padding-right: 15%;
         margin: .1%;
         order:0;
        }
             h3{
                font-size: 3vw;
                margin: .1%;
                padding-right: 15%;
               }       
}

.title:nth-child(1){
    width: 70%;
    height: 1%;
    align-self: flex-start;
}

.title:nth-child(2){
    width: 15%;
    order: 2;
    height: 1%;
    align-self: flex-start;
    padding-right: 25px; 
   
}

#midsect{
    max-width: 100%;
    display:flex;
    margin: 2.5%
}

.jumbotron{
    background-color: darkorange;
    margin: auto;
    h2,h3,p{
            color: white;
        }
    h2{
        font-family: 'Arizonia', cursive,;
        text-align: center;
        font-size: 3.2vw;
        padding-bottom: 5px;
        font-size: 5vw;
        }
    img{
    box-shadow: 0 0 15px #777;
    border: 2px solid black;
    }
}

#mainImg{
max-width:85%;
padding-left: $leftpad;
margin-left: auto;
margin-right: auto;  
box-shadow: 0 0 10px #777; 
}

#workTitle {
   padding-top: 10px;
   padding-bottom: 30px;
   max-height: 100%;
   max-width: 100%;
   text-align: center;
   font-family: 'Arizonia', cursive,;
   color: white;
   
    h2{
        font-size: 7.5vw;
   }
}

.projects{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
}

#work1{
    max-width: 76%;
    width:20vw;
    height:500px;
    h3{
        font-size: 30px;
        }
    p{
        font-size: 16px
    }
} 

#work2{
    max-width: 107%;
    width:20vw;
    height: 500px;

     h3{
        font-size: 30px;
        color: white;
    }
    h4{
        font-size:20px;
    }
    p{
        font-size: 16px
    }
} 

#work3{
    max-width: 97%;
    width:20vw;
    height: 500px;
    padding-right: 10px;

     h3{
        font-size: 30px;
    }
    
    p{
        font-size: 16px
    }
} 

#colorblock1, #colorblock2, #colorblock3{
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.glyphicon{
    display: none;
}

.nav{
    display: inline;
}

