img, embed, object, video {
  max-width: 100%;
}

body {
  background: url("../img/svg/background.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.header {
  max-height: 100%;
  max-width: 100%;
  font-family: 'Arizonia', cursive, bold;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: right;
  margin: auto;
  padding-top: 5%;
}

.header h1 {
  font-size: 7.5vw;
  padding-bottom: -5%;
  padding-right: 15%;
  margin: .1%;
  order: 0;
}

.header h3 {
  font-size: 3vw;
  margin: .1%;
  padding-right: 15%;
}

.title:nth-child(1) {
  width: 70%;
  height: 1%;
  align-self: flex-start;
}

.title:nth-child(2) {
  width: 15%;
  order: 2;
  height: 1%;
  align-self: flex-start;
  padding-right: 25px;
}

#midsect {
  max-width: 100%;
  display: flex;
  margin: 2.5%;
}

.jumbotron {
  background-color: darkorange;
  margin: auto;
}

#mainImg {
  max-width: 85%;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px #777;
}

#workTitle {
  display: flex;
  padding-left: 10%;
}

.projects {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

#work1 {
  max-width: 100%;
  width: 20vw;
  height: 500px;
  padding-left: 5px;
}

#work2 {
  max-width: 100%;
  width: 20vw;
  padding-left: 5px;
  height: 500px;
}

#work3 {
  max-width: 100%;
  width: 20vw;
  height: 500px;
  padding-left: 5px;
  padding-right: 5px;
}

#colorblock1, #colorblock2, #colorblock3 {
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
