img, embed, object, video {
  max-width: 100%;
}

body {
  background-color: lightskyblue;
}

.container {
  width: 100%;
  max-width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.header {
  max-width: 100%;
  font-family: 'Arizonia', cursive;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: right;
  flex-grow: 1;
}

.header h1 {
  font-size: 4.5em;
  padding-bottom: -5%;
  padding-right: 15%;
  margin: .1%;
  order: 0;
}

.header h3 {
  font-size: 1.5em;
  margin: .1%;
  padding-right: 15%;
}

.title:nth-child(1) {
  width: 70%;
  align-self: flex-start;
}

.title:nth-child(3) {
  display: flex;
  max-width: 25%;
  order: 1;
  justify-content: flex-end;
  align-self: flex-end;
}

.title:nth-child(2) {
  width: 70%;
  order: 2;
  height: 1%;
  align-self: flex-start;
}

#midsect {
  max-width: 100%;
  display: flex;
}

#mainImg {
  max-width: 85%;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
}

#workTitle {
  display: flex;
  padding-left: 10%;
}

.projects {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  text-align: center;
}

#work1, #work2, #work3 {
  max-width: 80%;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

#colorblock1, #colorblock2, #colorblock3 {
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
