body {
  background: url("../img/svg/background.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 100%;
}

.header {
  max-height: 100%;
  max-width: 100%;
  font-family: "Arizonia", cursive;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  padding-top: 5%;
}

.header h1 {
  font-size: 10.5vw;
  padding-right: 25%;
  margin: 0.1%;
  order: 0;
}

.header h3 {
  font-size: 3vw;
  margin: 0.1%;
  padding-right: 25%;
}

.title:nth-child(1) {
  width: 70%;
  height: 1%;
  align-self: flex-start;
}

#midsect {
  max-width: 100%;
  display: flex;
  margin: 2.5%;
}

.jumbotron {
  background-color: darkorange;
  margin: auto;
}

.jumbotron h2,
.jumbotron h3,
.jumbotron p {
  color: white;
}

.jumbotron h2 {
  font-family: "Arizonia", cursive;
  text-align: center;
  font-size: 3.2vw;
  padding-bottom: 5px;
  font-size: 5vw;
}

.jumbotron img {
  box-shadow: 0 0 15px #777;
  border: 2px solid black;
}

#mainImg {
  max-width: 85%;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px #777;
}

#workTitle {
  padding-top: 10px;
  padding-bottom: 30px;
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  font-family: "Arizonia", cursive;
  color: white;
}

#workTitle h2 {
  font-size: 7.5vw;
}

#work1 {
  width: 200px;
  height: 500px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

#work1 h3 {
  font-size: 30px;
}

#work1 p {
  font-size: 16px;
}

#work2 {
  width: 200px;
  height: 500px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

#work2 h3 {
  font-size: 30px;
  color: white;
}

#work2 h4 {
  font-size: 20px;
}

#work2 p {
  font-size: 16px;
}

#work3 {
  width: 200px;
  height: 500px;
  padding-right: 10px;
}

#work3 h3 {
  font-size: 30px;
}

#work3 p {
  font-size: 16px;
}

#colorblock1,
#colorblock2,
#colorblock3 {
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.glyphicon {
  display: none;
}

.nav {
  display: inline;
}
